* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 1100px;
    margin: 0 auto 50px auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    
    .menu {
        display: flex;
        max-width: 350px;
        justify-content: space-between;
        width: 100%;
        li:nth-child(1) {
            a {
                color: black;
                font-size: 20px;
                border-bottom: black 2px solid;
                padding-bottom: 10px;
            }
        }
        li:nth-child(2) {
            a{
                color: black;
                font-size: 20px;
                opacity: 0.5;
            }
        }
    }
}
main {
    .woman {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-image: url();
        flex-wrap: wrap;
    }
   
}
.woman-block {
    max-width: 200px;
    
}
.woman-img {
    width: 198px;
    height: 250px;
    margin-bottom: 5px;
}
.woman-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.btn {
    display: block;
    max-width: 100px;
    width: 100%;
    margin: 0 auto 10px auto;
    color: white;
    background-color: black;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
.big-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.822);
    display: none;
    justify-content: center;
    align-items: center;
}
.small-modal {
    max-width: 350px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.size-btn {
    border-radius: 20px;
    display: block;
    max-width: 100px;
    color: white;
    background-color: black;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.size-btn:hover {
    background-color: white;
    color: black;
}
.cart {
    position: fixed;
    right: 10%;
    top: 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .cart-icon {
        color: rgb(0, 0, 0);
        font-size: 35px;
    }
    .cart-price {
        color: rgb(255, 255, 255);
        background-color: rgb(253, 0, 0);
        border-radius: 50%;
        font-size: 15px;
        width: 25px;
        padding: 2px;
        text-align: center;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}
.cart-block {
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.big-cart-block {
    width: 100%;
    height: 100%;
    top: 0px; 
    transition: 0.5s;
    position: absolute;
    transform:translateY(-100%)
}
.cart-woman {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
.cart-woman-block {
    max-width: 100px;
    width: 100%;
}
